{% extends '::basemenu.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    
    <link rel="stylesheet" href="{{asset('bundles/victoriaapp/css/jquery.dataTables_themeroller.css')}}" />
    <link rel="stylesheet" href="{{asset('bundles/victoriaapp/css/focal.css')}}" />
    
{% endblock %}

{% block menu %}
    {{ menu|raw }}
{% endblock %}
{% block header %}
<!-- Content Header (Page header) -->
    <section style="padding-bottom: 20px;"class="content-header">
      <h1>
        Listados de votantes
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-user"></i> Votantes</a></li>
        <li class="active">Agregar, modificar y eliminar información</li>
      </ol>
    </section>
{% endblock %}

{% block content -%}
    <ul style="list-style: none; margin-left: 0; text-align: right ">
    {% if is_granted('ROLE_ADMIN') %} 
    <li>
        <a id="btnnuevo" data-toggle="modal" data-target="#modal-default" class="btn btn-md btn-success" href="#">
            <i class="ace-icon fa fa-plus-square align-top bigger-120"></i> Nuevo 
        </a>
    </li>
    {% endif %}
    </ul>
    <ul>
        <li>
            <select id="centrov">
                    <option value="">-- Seleccione un CV --</option>
                {% for cv in entcv %}
                     <option value="{{ cv.idcv }}">{{ cv.nombre }}</option>
                {% endfor %}    
            </select>
        </li>    
    </ul>
    <table id="dynamic-table" class="display compact" style="width:100%">
        <thead>
            <tr style="background-color: #E8BF6A">
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Teléfonos</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.nombres }}</td>
                <td>{{ entity.apellidos }}</td>
                <td>{{ entity.telefonos }}</td>
                <td>
              
                       <div class="action-buttons">
                        <a class="blue" href="{{ path('datosvotantes_show', { 'id': entity.idVotante }) }}"title="Ver">
                                <i class="oz-icon-v fa fa-search-plus bigger-130"></i> 
                        </a>
                        {% if is_granted('ROLE_ADMIN') %} 
                        <a class="green" href="{{ path('datosvotantes_edit', { 'id': entity.idVotante }) }}" title="Editar">
                                <i class="oz-icon-e fa fa-pencil bigger-130"></i>  
                        </a>
                        {% endif %}        
                        </div>
               
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- Modal de ingreso de datos -->    
    <div class="modal fade" id="modal-default">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Agregar nuevo votante</h4>
              </div>
              
              <div class="modal-body">
                {{ form_start(form) }}
                    {{ form_row(form.nombres) }}
                    {{ form_row(form.apellidos) }}
                    {{ form_row(form.numeroIdentidad) }}
                    {{ form_row(form.edad) }}
                    {{ form_row(form.sexo) }}
                    {{ form_row(form.telefonos) }} 
                    {#{ form_row(form.idCv) }#} 
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="victoria_appbundle_datosvotantes_idCv">Id cv</label>
                        <div class="col-sm-10">
                            <select required="required" id="victoria_appbundle_datosvotantes_idCv" name="victoria_appbundle_datosvotantes[idCv]" class="form-control">
                                <option value=""></option>
                                {% for cv in entcv %}
                                    <option value="{{ cv.idcv }}">{{ cv.nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>    
                    {{ form_row(form.submit) }}
                    {{ form_row(form.submitadd) }}
                    {{ form_widget(form._token) }}
                {{ form_end(form, {'render_rest': false})}}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cerrar</button>
                <!--button type="button" class="btn btn-primary">Save changes</button -->
              </div>
               
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
    </div>
    <!-- /.modal --> 
    
    {% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/victoriaapp/js/jquery.dataTables.min.js')}}"></script>
    <script src="{{ asset('bundles/victoriaapp/js/jquery.dataTables.bootstrap.min.js')}}"></script> 
    

    <script type="text/javascript">
        $( document ).ready(function() {
            if(1 == {{ modal }} ) {
                $('#modal-default').modal('toggle');
            }
        });
        
        $(function () {
        
        $('#dynamic-table').DataTable({
          'paging'      : true,
          'lengthChange': true,
          'searching'   : true,
          'ordering'    : true,
          'info'        : true,
          'autoWidth'   : true,
          language:{
                    search: "Buscar",
                    lengthMenu: "Mostrar _MENU_ registros",
                    emptyTable: "No hay datos...",
                    info: "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    infoEmpty: "Mostrando registros del 0 al 0 de un total de 0 registros",
                    infoFiltered: "(Filtrando de un total de _MAX_ registros)",
                    paginate: {
                        first: "Primero",
                        previous: "Anterior",
                        next: "Siguiente",
                        last: "Ultimo"
                    }
                }
        });
        
        $('#centrov').change(function(e) {
        var param = $(this).val();  
        e.preventDefault(); 
           url="/Victoria/web/app_dev.php/datosvotantes/"+ "0/" + param + "/filtrar";
           window.location.href = url;
    });
  });
    </script>     
{% endblock %}  