{% extends '::basemenu.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    
    <link rel="stylesheet" href="{{asset('bundles/victoriaapp/css/jquery.dataTables_themeroller.css')}}" />
    <link rel="stylesheet" href="{{asset('bundles/victoriaapp/css/focal.css')}}" />
    
{% endblock %}
{% block menu %}
    {{ menu|raw }}
{% endblock %}
{% block header %}
<!-- Content Header (Page header) -->
    <section style="padding-bottom: 20px;"class="content-header">
      <h1>
        Notificaciones
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-bell-o"></i> Notificaciones</a></li>
        <li class="active">Listado notificaciones enviadas o recibidas</li>
      </ol>
    </section>
{% endblock %}

{% block content -%}
   <ul style="list-style: none; margin-left: 0; text-align: right ">
    <li>
        {% if is_granted('ROLE_ADMIN') %} 
        <a class="btn btn-md btn-success" href="{{ path('datosnotificaciones_new') }}">
            <i class="ace-icon fa fa-plus-square align-top bigger-120"></i> Nueva 
        </a>
        {% endif %}    
    </li>
    </ul>

    <table id="dynamic-table" class="display compact">
        <thead>
            <tr style="background-color: #E8BF6A">
                <th>Orden</th>
                <th>Numero</th>
                <th>Campaña</th>
                <th>Distrito</th>
                <th>Total</th>
                <th>Enviados</th>
                <th>Recibidos</th>
                <th>Eliminados</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.orden }}</td>
                <td><a href="{{ path('datosnotificaciones_show', { 'id': entity.numero }) }}">{{ entity.numero }}</a></td>
                <td>{{ entity.campana }}</td>
                <td>{{ entity.distrito }}</td>
                <td>{{ entity.total }}</td>
                <td>{{ entity.enviados }}</td>
                <td>{{ entity.recibidos }}</td>
                <td>{{ entity.eliminados }}</td>
                <td>
                    <div class="action-buttons">
                    <div class="btn-group">
                      <button type="button" class="btn btn-success"><i class='fa fa-check-square'></i></button>
                      <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu" role="menu">
                        <li>
                            <a class="green" id="btnRecibido" href="#" data-idu="{{ entity.id_notificacion|default(0) }}"  data-rel="tooltip" title="Recibir">
                                <i class="fa fa-check-circle bigger-120"></i>Recibido
                            </a>
                        </li>
                        <li><a class="blue" href="{{ path('datosnotificaciones_show', { 'id': entity.numero }) }}" title="Ver">
                                <i class="fa fa-search-plus bigger-130"></i>Ver
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li><a class="green" href="{{ path('datosnotificaciones_delete', { 'id': entity.numero }) }}" title="Eliminar">
                                <i class="fa fa-trash bigger-130"></i>Eliminar
                            </a>
                        </li>
                      </ul>
                    </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}
    {% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/victoriaapp/js/jquery.dataTables.min.js')}}"></script>
    <script src="{{ asset('bundles/victoriaapp/js/jquery.dataTables.bootstrap.min.js')}}"></script> 
    
    <script type="text/javascript">
        $(function () {
        
        $('#dynamic-table').DataTable({
          'paging'      : true,
          'lengthChange': true,
          'searching'   : true,
          'ordering'    : true,
          'info'        : true,
          'autoWidth'   : true,
          language:{
                    search: "Buscar",
                    lengthMenu: "Mostrar _MENU_ registros",
                    emptyTable: "No hay datos...",
                    info: "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    infoEmpty: "Mostrando registros del 0 al 0 de un total de 0 registros",
                    infoFiltered: "(Filtrando de un total de _MAX_ registros)",
                    paginate: {
                        first: "Primero",
                        previous: "Anterior",
                        next: "Siguiente",
                        last: "Ultimo"
                    }
                }
        });
        
        /* AJAX para cambiar el estado de la notificación a: "recibido"*/
        $("a[id*='btnRecibido']").click(function(e){
            
            e.preventDefault();
            var idNot = $(this).data("idu");
            var estadon = 2; //2 = recibido 
            var url = '/Victoria/web/app_dev.php/datosnotificaciones/cambioestado/'+ idNot + "&&" + estadon;  
        $.ajax({
                type:'POST',
                url:url,
                beforeSend: function(){
                    $("#lblError").hide();
                },
                dataType: 'json',
                success:function(data){
                    if(data.message == 'false'){
                        alert(data.razon);
                    }else{
                        alert("Se cambio el estado del usuario");
                        var filactual = $("[data-idu='" + idUser + "']").parents('td'); 
                        table.row(filactual.parents('tr')).remove().draw();
                    }
                }
            });  
        });
  });
    </script>  
       {% endblock %}
