{% extends '::basemenu.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    
    <link rel="stylesheet" href="{{asset('bundles/victoriaapp/css/jquery.dataTables_themeroller.css')}}" />
    <link rel="stylesheet" href="{{asset('bundles/victoriaapp/css/focal.css')}}" />
    
{% endblock %}

{% block menu %}
    {{ menu|raw }}
{% endblock %}
{% block header %}
<!-- Content Header (Page header) -->
    <section style="padding-bottom: 20px;"class="content-header">
      <h1>
        Listados de distritos
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-map-marker"></i> Distritos</a></li>
        <li class="active">Agregar, modificar y eliminar información</li>
      </ol>
    </section>
{% endblock %}
{% block content -%}
    <ul style="list-style: none; margin-left: 0; text-align: right ">
    <li style="float: right; margin: 0px 0px 5px 10px;">
        <a style="display: block;" class="btn btn-md btn-success" href="{{ path('datosdistritos_new') }}">
            <i class="ace-icon fa fa-plus-square align-top bigger-120"></i> Nuevo 
        </a>
    </li>
    <li style="float: right">
        <a id="btnCV" style="display: block;" class="btn btn-md btn-success" href="#">
            <i class="ace-icon fa fa-arrow-right align-top bigger-120"></i> C.V. 
        </a>
    </li>
    </ul>
    <table id="dynamic-table" class="display compact">
        <thead>
            <tr style="background-color: #E8BF6A">
                <th></th>
                <th>Id Distrito</th>
                <th>Nombre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td class="center">
                    <label class="pos-rel">
                        <input type="radio" value="{{ entity.idDistrito }}" name="sel-enc" class="ace" />
                        <span class="lbl"></span>
                    </label>
                </td>
                <td><a href="{{ path('datosdistritos_show', { 'id': entity.idDistrito }) }}">{{ entity.idDistrito }}</a></td>
                <td>{{ entity.nombre }}</td>
                <td>
                <ul>
                     <div class="action-buttons">
                        <a class="blue"  href="{{ path('datosdistritos_show', { 'id': entity.idDistrito }) }}" title="Ver">
                                <i class="oz-icon-v fa fa-search-plus bigger-130"></i>
                        </a>
                    <a class="green" href="{{ path('datosdistritos_edit', { 'id': entity.idDistrito }) }}" title="Editar">
                                <i class="oz-icon-e fa fa-pencil bigger-130"></i>
                        </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
 

    {% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/victoriaapp/js/jquery.dataTables.min.js')}}"></script>
    <script src="{{ asset('bundles/victoriaapp/js/jquery.dataTables.bootstrap.min.js')}}"></script> 
    
    <script type="text/javascript">
        $(function () {
        
        $('#dynamic-table').DataTable({
          'paging'      : true,
          'lengthChange': true,
          'searching'   : true,
          'ordering'    : true,
          'info'        : true,
          'autoWidth'   : true,
          language:{
                    search: "Buscar",
                    lengthMenu: "Mostrar _MENU_ registros",
                    emptyTable: "No hay datos...",
                    info: "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    infoEmpty: "Mostrando registros del 0 al 0 de un total de 0 registros",
                    infoFiltered: "(Filtrando de un total de _MAX_ registros)",
                    paginate: {
                        first: "Primero",
                        previous: "Anterior",
                        next: "Siguiente",
                        last: "Ultimo"
                    }
                }
        });
  });
  
  /* Controla la seleccion de la filas en el GRID */
  $(document).on("click","#dynamic-table tr td",function(){
    if($(this).parent().find("input:radio").is(':checked')){
        $(this).parent().css("background-color","");
        $(this).parent().find("input:radio").prop("checked", false);  
    } else {
        $(".ace").each(function(){
            if($(this).is(':checked')) {
                $(this).parent().parent().parent().css("background-color","");
            }
        });
        $(this).parent().css("background-color","#CFE7F9");
        $(this).parent().find("input:radio").prop("checked", true);         
    }
   });
   
   /* Captur el evento click de los botones superiores al GRID */
   $('#btnCV').click(function(e){
        fila = $("#dynamic-table input[name='sel-enc']:radio");
        if(fila.is(':checked')) {
            valor = $("#dynamic-table input:radio[name='sel-enc']:checked").val();
            e.preventDefault();
            switch ($(this).attr('id')) {
                case 'btnCV':
                    url = '/Victoria/web/app_dev.php/datoscentrosvotacion/'+valor+'/list';
                    break;
        }
            window.location.href=url;               
        } else {
            e.preventDefault();
            alert("Seleccione una campaña política");
        }
    });
    
    </script>     
{% endblock %}    
