{% extends '::basemenu.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    
    <link rel="stylesheet" href="{{asset('bundles/victoriaapp/css/jquery.dataTables_themeroller.css')}}" />
    <link rel="stylesheet" href="{{asset('bundles/victoriaapp/css/focal.css')}}" />
    
{% endblock %}

{% block menu %}
    {{ menu|raw }}
{% endblock %}
{% block header %}
<!-- Content Header (Page header) -->
    <section style="padding-bottom: 20px;"class="content-header">
      <h1>
        Listados de distritos
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-map-marker"></i> Distritos</a></li>
        <li class="active">Agregar, modificar y eliminar información</li>
      </ol>
    </section>
{% endblock %}
{% block content -%}
    <ul style="list-style: none; margin-left: 0; text-align: right ">
    {% if is_granted('ROLE_ADMIN') %}     
    <li style="float: right; margin: 0px 0px 5px 10px;">
        <a style="display: block;" class="btn btn-md btn-success" href="{{ path('datosdistritos_new') }}">
            <i class="ace-icon fa fa-plus-square align-top bigger-120"></i> Nuevo 
        </a>
    </li>
    {% endif %}

    </ul>
    <table id="dynamic-table" class="display compact">
        <thead>
            <tr style="background-color: #E8BF6A">
                <th>Nombre</th>
                <th>% comisiones</th>
                <th>% votantes</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.nombre }}</td>
                <td>{% if (entity.total_campanas > 0 ) %} {{ ((entity.total_asignadas / entity.total_campanas)*100)|round(2) }}%{% else %}0%{% endif %}</td>
                <td>{% if (entity.carga > 0 ) %} {{ ((entity.votantes / entity.carga)*100)|round(3) }}%{% else %}0%{% endif %}</td>
                <td>
                <ul>
                     <div class="action-buttons">
                        <a class="blue"  href="{{ path('datosdistritos_show', { 'id': entity.id_distrito }) }}" title="Ver">
                                <i class="oz-icon-v fa fa-search-plus bigger-130"></i>
                        </a>
                    {% if is_granted('ROLE_ADMIN') %}             
                    <a class="green" href="{{ path('datosdistritos_edit', { 'id': entity.id_distrito }) }}" title="Editar">
                                <i class="oz-icon-e fa fa-pencil bigger-130"></i>
                        </a>
                    {% endif %}  
                        <a class="blue"  href="{{ path('datoscentrosvotacion') }}{{ entity.id_distrito }}/list" title="Centro de votacion">
                                <i class="oz-icon-v fa fa-map-marker bigger-130"></i>
                        </a>
                        <a class="green"  href="{{ path('datosdistritos_cantidad', { 'id': entity.id_distrito }) }}"title="Cantidades">
                                <i class="oz-icon-e fa fa-group bigger-130"></i>
                        </a>                       
                    </div>
                </ul>                
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
 

    {% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/victoriaapp/js/jquery.dataTables.min.js')}}"></script>
    <script src="{{ asset('bundles/victoriaapp/js/jquery.dataTables.bootstrap.min.js')}}"></script> 
    
    <script type="text/javascript">
        $(function () {
        
        $('#dynamic-table').DataTable({
          'paging'      : true,
          'lengthChange': true,
          'searching'   : true,
          'ordering'    : true,
          'info'        : true,
          'autoWidth'   : true,
          language:{
                    search: "Buscar",
                    lengthMenu: "Mostrar _MENU_ registros",
                    emptyTable: "No hay datos...",
                    info: "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    infoEmpty: "Mostrando registros del 0 al 0 de un total de 0 registros",
                    infoFiltered: "(Filtrando de un total de _MAX_ registros)",
                    paginate: {
                        first: "Primero",
                        previous: "Anterior",
                        next: "Siguiente",
                        last: "Ultimo"
                    }
                }
        });
  });
  

    </script>     
{% endblock %}    
