{% extends '::basemenu.html.twig' %}
{% form_theme edit_form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block header -%}
    Editar un usuario
    <small>
        <i class="ace-icon fa fa-angle-double-right"></i>
        Editar la información de un usuario
    </small>
{% endblock %} 
{% block menu %}
    {{ menu|raw }}
{% endblock %} 
{% block content -%}
{% for type, flash_messages in app.session.flashBag.all %}
    {% for flash_message in flash_messages %}
        <div class="alert {{ type }}">
            {{ flash_message }}
        </div>
    {% endfor %}
{% endfor %}

    {{ form_start(edit_form) }}
        {% if is_granted('ROLE_ADMIN') %}
            {{ form_row(edit_form.codDepartamento) }}
            <div class="form-group">
                <label class="col-sm-2 control-label">Municipio</label>
                <div class="col-sm-10">
                    <select id="codmunicipio" class="form-control" name="codmunicipio">
                        <option value="0">-- Selecionar --</option>
                    </select>
                </div>
            </div>             
        {% endif %}
        {{ form_row(edit_form.idEstructura) }}
        {{ form_row(edit_form.idCampana) }}
        <div class="form-group">
                <label class="col-sm-2 control-label">Distrito</label>
                <div class="col-sm-10">
                    <select id="iddistrito" class="form-control" name="iddistrito">
                        <option value="0">-- Selecionar --</option>
                    </select>
                </div>
        </div>
        {{ form_row(edit_form.nombreUsuario) }}
        {{ form_row(edit_form.username) }}
        {{ form_row(edit_form.password) }}
        {{ form_row(edit_form.email) }}
        {% if is_granted('ROLE_ADMIN') %}
            {{ form_row(edit_form.user_roles) }}
            {{ form_row(edit_form.acceso) }}
        {% endif %}
        {{ form_row(edit_form.submit) }}
        {{ form_widget(edit_form._token) }}
    {{ form_end(edit_form, {'render_rest': false})}}

        <ul class="record_actions">
    <li>
        <a href="{{ path('aduser') }}">
            Regresar al listado
        </a>
    </li>
</ul>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        
        $(document).ready(function() {
            $('#focal_appbundle_aduser_username').prop("disabled", true);
            $('#focal_appbundle_aduser_codDepartamento').val('{% if codDep starts with '0' %}{{ codDep|slice(1,1)}}{% else %}{{codDep|default('')}}{% endif %}');
            $('#focal_appbundle_aduser_idEstructura').val({{ idEstructura }});
            $('#focal_appbundle_aduser_idCampana').val({{ idCampana }});
            $('#focal_appbundle_aduser_acceso').val({{ acceso }});
            var valdepto = $('#focal_appbundle_aduser_codDepartamento').val();
            
            var param =  valdepto;
            var param2 = {{ idCampana }}
            url="/Victoria/web/app_dev.php/aduser/buscarMunicipio/" + param;
            
            $.ajax({
              type:'POST',
              url:url,
              beforeSend: function(){
              $("#lblError").hide();	
              },
              dataType: 'json',
              success:function(data){
                  if(data.message === 'false'){
                      alert('false');
                  }else{
                       var ejercicio = "<option value=''> -- seleccionar -- </option>";
                       $.each(data, function(i) {
                          ejercicio = ejercicio + "<option value='"+data[i].codMunicipio+"'>"+data[i].codMunicipio+ " - "+data[i].nombre+ "</option>";  
                       });
                       $('#codmunicipio').html(ejercicio);
                       $('#codmunicipio').val('{{codMun}}');
                  }
                }
              }); 
              
              url2="/Victoria/web/app_dev.php/aduser/buscarDistrito/" + param2;
              
              $.ajax({
              type:'POST',
              url:url2,
              beforeSend: function(){
              $("#lblError").hide();	
              },
              dataType: 'json',
              success:function(data){
                  if(data.message === 'false'){
                      alert('false');
                  }else{
                       var ejercicio = "<option value=''> -- seleccionar -- </option>";
                       $.each(data, function(i) {
                          ejercicio = ejercicio + "<option value='"+data[i].idDistrito+"'>"+data[i].idDistrito+ " - "+data[i].nombre+ "</option>";  
                       });
                       $('#iddistrito').html(ejercicio);
                       $('#iddistrito').val('{{ idDistrito }}');
                  }
                }
              }); 
        });
        
        $('#focal_appbundle_aduser_codDepartamento').change(function(e) {
            var valdepto = $(this).val();  
            e.preventDefault(); 
              var param =  valdepto;
               url="/Victoria/web/app_dev.php/aduser/buscarMunicipio/" + param;
              $.ajax({
                type:'POST',
                url:url,
                beforeSend: function(){
                $("#lblError").hide();	
                },
                dataType: 'json',
                success:function(data){
                    if(data.message === 'false'){
                        alert('false');
                    }else{
                         var ejercicio = "<option value=''> -- seleccionar -- </option>";
                         $.each(data, function(i) {
                            ejercicio = ejercicio + "<option value='"+data[i].codMunicipio+"'>"+data[i].codMunicipio+ " - "+data[i].nombre+ "</option>";  
                         });
                         $('#codmunicipio').html(ejercicio);
                         //$('#focal_appbundle_aduser_submit').prop('disabled', true);
                    }
                }
            });
        }); 
        
        $('#focal_appbundle_aduser_idCampana').change(function(e) {
        var valcamp = $(this).val();  
        e.preventDefault(); 
          var param =  valcamp;
           url="/Victoria/web/app_dev.php/aduser/buscarDistrito/" + param;
          $.ajax({
            type:'POST',
            url:url,
            beforeSend: function(){
            $("#lblError").hide();	
            },
            dataType: 'json',
            success:function(data){
                if(data.message === 'false'){
                    alert('false');
                }else{
                     var ejercicio = "<option value=''> -- seleccionar -- </option>";
                     $.each(data, function(i) {
                        ejercicio = ejercicio + "<option value='"+data[i].idDistrito+"'>"+data[i].idDistrito+ " - "+data[i].nombre+ "</option>";  
                     });
                     $('#iddistrito').html(ejercicio);
                     //$('#focal_appbundle_aduser_submit').prop('disabled', true);
                }
            }
        });
    });
    </script>
{% endblock %}  
