{% extends '::basemenu.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block header -%}
    Agregar un usuario
    <small>
        <i class="ace-icon fa fa-angle-double-right"></i>
        Ingresar la información solicitada
    </small>
{% endblock %} 
{% block menu %}
    {{ menu|raw }}
{% endblock %}
{% block content -%}
    
    {{ form_start(form) }}
        {% if is_granted('ROLE_ADMIN') %}
            {{ form_row(form.codDepartamento) }}
            <div class="form-group">
                <label class="col-sm-2 control-label">Municipio</label>
                <div class="col-sm-10">
                    <select id="codmunicipio" class="form-control" name="codmunicipio" required="true">
                        <option value="">-- Selecionar --</option>
                    </select>
                </div>
            </div> 
        {% endif %}
        {{ form_row(form.idEstructura) }}
        {{ form_row(form.idComision) }}
        {{ form_row(form.idCampana) }}
        <div class="form-group">
                <label class="col-sm-2 control-label">Distrito</label>
                <div class="col-sm-10">
                    <select id="iddistrito" class="form-control" name="iddistrito" required="true">
                        <option value="">-- Selecionar --</option>
                    </select>
                </div>
        </div>
        {{ form_row(form.nombreUsuario) }}
        {{ form_row(form.username) }}
        {{ form_row(form.numeroidentidad) }}
        {{ form_row(form.telefono1) }}
        {{ form_row(form.telefono2) }}
        {{ form_row(form.telefono3) }}
        {{ form_row(form.password) }}
        {{ form_row(form.email) }}
        {{ form_row(form.user_roles) }} 
        {{ form_row(form.acceso) }} 
        {{ form_row(form.submit) }}
        {{ form_widget(form._token) }}
    {{ form_end(form, {'render_rest': false})}}

    <ul class="record_actions">
    <li>
        <a href="{{ path('aduser') }}">
            Regresar al listado
        </a>
    </li>
</ul>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript"> 
        $(document).ready(function() {
            $('#focal_appbundle_aduser_password_first').prop("required", 'required');
            $('#focal_appbundle_aduser_password_second').prop("required", 'required');
            $('#focal_appbundle_aduser_codDepartamento').prop("required", 'required');
            $('#codmunicipio').prop("required", 'required');
            
            {% if not is_granted('ROLE_ADMIN') %}  
                    $("#focal_appbundle_aduser_user_roles option[value='2']").remove();
                    $("#focal_appbundle_aduser_user_roles option[value='3']").remove();
                    $("#focal_appbundle_aduser_user_roles option[value='4']").remove();
            {% endif %}
        });
        
        $('#focal_appbundle_aduser_codDepartamento').change(function(e) {
        var valdepto = $(this).val();  
        e.preventDefault(); 
          var param =  valdepto;
           url="/Victoria/web/app_dev.php/aduser/buscarMunicipio/" + param;
          $.ajax({
            type:'POST',
            url:url,
            beforeSend: function(){
            $("#lblError").hide();	
            },
            dataType: 'json',
            success:function(data){
                if(data.message === 'false'){
                    alert('false');
                }else{
                     var ejercicio = "<option value=''> -- seleccionar -- </option>";
                     $.each(data, function(i) {
                        ejercicio = ejercicio + "<option value='"+data[i].codMunicipio+"'>"+data[i].codMunicipio+ " - "+data[i].nombre+ "</option>";  
                     });
                     $('#codmunicipio').html(ejercicio);
                     //$('#focal_appbundle_aduser_submit').prop('disabled', true);
                }
            }
        });
    }); 
    
    $('#focal_appbundle_aduser_idCampana').change(function(e) {
        var valcamp = $(this).val();  
        e.preventDefault(); 
          var param =  valcamp;
           url="/Victoria/web/app_dev.php/aduser/buscarDistrito/" + param;
          $.ajax({
            type:'POST',
            url:url,
            beforeSend: function(){
            $("#lblError").hide();	
            },
            dataType: 'json',
            success:function(data){
                if(data.message === 'false'){
                    alert('false');
                }else{
                     var ejercicio = "<option value=''> -- seleccionar -- </option>";
                     var ejercicio = ejercicio + "<option value='0'> -- todos -- </option>";
                     $.each(data, function(i) {
                        ejercicio = ejercicio + "<option value='"+data[i].idDistrito+"'>"+data[i].idDistrito+ " - "+data[i].nombre+ "</option>";  
                     });
                     $('#iddistrito').html(ejercicio);
                     //$('#focal_appbundle_aduser_submit').prop('disabled', true);
                }
            }
        });
    });
    
    $('#focal_appbundle_aduser_idEstructura').change(function(e) {
        
        var valcamp = $(this).val();  
        e.preventDefault(); 
          var param =  valcamp;
           url="/Victoria/web/app_dev.php/aduser/buscarComision/" + param;
          $.ajax({
            type:'POST',
            url:url,
            beforeSend: function(){
            $("#lblError").hide();	
            },
            dataType: 'json',
            success:function(data){
                if(data.message === 'false'){
                    alert('false');
                }else{
                     var ejercicio = "<option value=''> -- seleccionar -- </option>";
                     $.each(data, function(i) {
                        ejercicio = ejercicio + "<option value='"+data[i].idTipoComision+"'>"+data[i].idTipoComision+ " - "+data[i].descripcion+ "</option>";  
                     });
                     $('#focal_appbundle_aduser_idComision').html(ejercicio);
                     //$('#focal_appbundle_aduser_submit').prop('disabled', true);
                }
            }
        });
    });
    </script>
{% endblock %}    
