{% extends '::basemenu.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    
    <link rel="stylesheet" href="{{asset('bundles/victoriaapp/css/jquery.dataTables_themeroller.css')}}" />
    <link rel="stylesheet" href="{{asset('bundles/victoriaapp/css/focal.css')}}" />
    <link rel="stylesheet" href="{{asset('bundles/victoriaapp/tareas/css/bootstrap.css')}}" />

<style>
.scroll {
     width:318  px;
     height:183px;
     overflow:auto;
}

.filterDiv {

  display: none;
}

.show {
  display: block;
}

.container {
  margin-top: 20px;
  overflow: hidden;
}
    

</style>
{% endblock %}

{% block menu %}
    {{ menu|raw }}
{% endblock %}
{% block header %}
<!-- Content Header (Page header) -->
    <section style="padding-bottom: 20px;"class="content-header">
      <h1>
        Listados de tareas
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-pencil"></i> tareas</a></li>
        <li class="active">Tareas</li>
      </ol>
    </section>
{% endblock %}
{% block content -%}


    
    <ul style="list-style: none; margin-left: 0; text-align: right ">        
        <li style="float: left; margin: 0px 0px 5px 10px;">

   <h4> Eventos</h4>   

    </li>
           <li style="float: left; margin: 0px 0px 5px 10px;">
    <select id="sdf" class="form-control"><option value=""></option>
        <option value="all"  onclick="filterSelection('all')" selected="selected" >Todos</option>
         {% for entity in entitiesEventos %}
        <option  onclick="filterSelection('{{ entity.titulo }}')" >{{ entity.titulo }}</option>

         {% endfor %}
    </select>
    </li>
        
        <li style="float: right; margin: 0px 0px 5px 10px;">
        <a id="btnAgregar" data-toggle="modal" data-target="#modal-default" style="display: block;" class="btn btn-md btn-success" href="#">
            <i class="ace-icon fa fa-plus-square align-top bigger-120"></i> Agregar 
        </a>
    </li>
    </ul>
    
</br>
</br>
</br> 








   <div class="row">
       <div class="col-md-4">
 {% for entity in entities %}
     {% if entity.idEstado == "Creado" or entity.idEstado == "Asignado" %}
          
          
      
        <div style="margin-bottom: 20px"  class="card filterDiv {{ entity.idEventos }}">
          <div class="card-header text-center">
            <h4 class="card-title">{{ entity.titulo }}</h4>
            <span class="badge badge-pill badge-success">
              {{ entity.idEstado }}
            </span>
          </div>
          <div class="card-body scroll" >
            <p style="margin-right: 20px;" class="card-text">{{ entity.descripcion }}</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-7">
                    <div class="progress-group">
                    <span class="progress-text">{{ entity.idResponsable }}</span>
                    <span class="progress-number"><b>{{ entity.progreso }}</b>%</span>

                    <div class="progress sm">
                      <div class="progress-bar progress-bar-aqua" style="width: {{ entity.progreso }}%"></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                </div>
                <div class="col-md-3">
                    <div class="action-buttons">
                  {% if entity.idResponsable !=  Usuario%}

                        <a class="blue" href="{{ path('datostareas_show', { 'id': entity.idTarea }) }}">


                            
                  <button type="button" class="btn btn-info btn-sm"  name="button">Detalle</button>
                           </a>                                                   
                  {% else%}
                  <a class="green" data-toggle="modal" data-target="#modal-default2" style="display: block;" class="btn btn-md btn-success" href="{{ path('datostareas_editmodal', { 'id': entity.idTarea }) }}"> 
                    <button type="button" class="btn btn-info btn-sm"  name="button">Editar</button>
                  </a>                                                   
                    {% endif %}                                                

                       
                    
                    </div>                </div>
              </div>
            </li>
          </ul>
        </div>
                               {% endif %}
        {% endfor %}

</div>

<div class="col-md-4">
 {% for entity in entities %}
     {% if entity.idEstado == "Recibido" or entity.idEstado == "Sin Empezar" or entity.idEstado == "En Proceso" %}
          
            

        <div style="margin-bottom: 20px" class="card filterDiv {{ entity.idEventos }} " >
          <div class="card-header text-center">
            <h4 class="card-title">{{ entity.titulo }}</h4>
            <span class="badge badge-pill badge-success">
              {{ entity.idEstado }}
            </span>
          </div>
          <div class="card-body scroll" >
            <p style="margin-right: 20px;" class="card-text">{{ entity.descripcion }}</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-7">
                    <div class="progress-group">
                    <span class="progress-text">{{ entity.idResponsable }}</span>
                    <span class="progress-number"><b>{{ entity.progreso }}</b>%</span>

                    <div class="progress sm">
                      <div class="progress-bar progress-bar-aqua" style="width: {{ entity.progreso }}%"></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                </div>
                <div class="col-md-3">
                    <div class="action-buttons">
                  {% if entity.idResponsable !=  Usuario%}
                        <a class="blue" href="{{ path('datostareas_show', { 'id': entity.idTarea }) }}">


                            
                  <button type="button" class="btn btn-info btn-sm"  name="button">Detalle</button>
                           </a>                                               
                  {% else%}
                  <a class="green" data-toggle="modal" data-target="#modal-default2" style="display: block;" class="btn btn-md btn-success" href="{{ path('datostareas_editmodal', { 'id': entity.idTarea }) }}"> 
                    <button type="button" class="btn btn-info btn-sm"  name="button">Editar</button>
                  </a>                                                   
                    {% endif %}                                                

                       
                    
                    </div>                </div>
              </div>
            </li>
          </ul>
        </div>            {% endif %}
        {% endfor %}

</div>
            
            
            <div class="col-md-4">
 {% for entity in entities %}
     {% if entity.idEstado == "Terminado" or entity.idEstado == "Cancelada" %}
          
            

        <div style="margin-bottom: 20px"    class="card filterDiv {{ entity.idEventos }}">
          <div class="card-header text-center">
            <h4 class="card-title">{{ entity.titulo }}</h4>
            <span class="badge badge-pill badge-success">
              {{ entity.idEstado }}
            </span>
          </div>
          <div class="card-body scroll" >
            <p style="margin-right: 20px;" class="card-text">{{ entity.descripcion }}</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-7">
                    <div class="progress-group">
                    <span class="progress-text">{{ entity.idResponsable }}</span>
                    <span class="progress-number"><b>{{ entity.progreso }}</b>%</span>

                    <div class="progress sm">
                      <div class="progress-bar progress-bar-aqua" style="width: {{ entity.progreso }}%"></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-2">
                </div>
                <div class="col-md-3">
                    <div class="action-buttons">
                  {% if entity.idResponsable !=  Usuario%}

                        <a class="blue" href="{{ path('datostareas_show', { 'id': entity.idTarea }) }}">


                            
                  <button type="button" class="btn btn-info btn-sm"  name="button">Detalle</button>
                           </a>                                                   
                  {% else%}
                  <a class="green" data-toggle="modal" data-target="#modal-default2" style="display: block;" class="btn btn-md btn-success" href="{{ path('datostareas_editmodal', { 'id': entity.idTarea }) }}"> 
                    <button type="button" class="btn btn-info btn-sm"  name="button">Editar</button>
                  </a>                                                   
                    {% endif %}                                                

                       
                    
                    </div>                </div>
              </div>
            </li>
          </ul>
        </div>              {% endif %}
        {% endfor %}

</div>

</div>







     
  
           
     
        
        

     


 
        

    <div class="modal fade" id="modal-default">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Agregar nueva tarea</h4>
              </div>
              
              <div class="modal-body">
                {{ form_start(form) }}    
                {{ form_row(form.titulo) }}
                {{ form_row(form.descripcion) }}
                {{ form_row(form.idEventos) }}
                {{ form_row(form.idResponsable) }}
                {{ form_row(form.idEstado) }}
                {{ form_row(form.submit) }}
                {{ form_widget(form._token) }}
                {{ form_end(form, {'render_rest': false})}}           
              </div>
              <div class="modal-footer">
                
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cerrar</button>
                <!--button type="button" class="btn btn-primary">Save changes</button -->
              </div>
               
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
    </div>


             



            <!-- Modal de ingreso de datos -->    
    <div class="modal fade" id="modal-default2">
          <div class="modal-dialog">
            <div class="modal-content">
              
               
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->   

    {% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/victoriaapp/js/jquery.dataTables.min.js')}}"></script>
    <script src="{{ asset('bundles/victoriaapp/js/jquery.dataTables.bootstrap.min.js')}}"></script> 
    
    <script type="text/javascript">
        $(function () {
        $('#dynamic-table').DataTable({
          'paging'      : true,
          'lengthChange': true,
          'searching'   : true,
          'ordering'    : true,
          'info'        : true,
          'autoWidth'   : true,
          language:{
                    search: "Buscar",
                    lengthMenu: "Mostrar _MENU_ registros",
                    emptyTable: "No hay datos...",
                    info: "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    infoEmpty: "Mostrando registros del 0 al 0 de un total de 0 registros",
                    infoFiltered: "(Filtrando de un total de _MAX_ registros)",
                    paginate: {
                        first: "Primero",
                        previous: "Anterior",
                        next: "Siguiente",
                        last: "Ultimo"
                    }
                }
        });

    
  });
  $(document).on("click","#dynamic-table tr td",function(){
    if($(this).parent().find("input:radio").is(':checked')){
        $(this).parent().css("background-color","");
        $(this).parent().find("input:radio").prop("checked", false);  
    } else {
        $(".ace").each(function(){
            if($(this).is(':checked')) {
                $(this).parent().parent().parent().css("background-color","");
            }
        });
        $(this).parent().css("background-color","#CFE7F9");
        $(this).parent().find("input:radio").prop("checked", true);         
    }
   });
   
   
   
        $(function () {
            
            //*** Busca los usuarios segun un evento selecionado
            
            $('#victoria_appbundle_datostareas_idEventos').change(function(e) {
        var valdepto = $(this).val();  
        e.preventDefault(); 
          var param =  valdepto;
           url="{{path('aduser')}}"+'buscarUsuariosPorEvento/'+ param;
          $.ajax({
            type:'POST',
            url:url,
            beforeSend: function(){
            $("#lblError").hide();	
            },
            dataType: 'json',
            success:function(data){
                if(data.message === 'false'){
                    alert('false');
                }else{
                     var ejercicio = "<option value=''> -- seleccionar -- </option>";
                     $.each(data, function(i) {
                        ejercicio = ejercicio + "<option value='"+data[i].idDistrito+"'>"+data[i].idDistrito+ " - "+data[i].nombre+ "</option>";  
                     });
                     $('#victoria_appbundle_datostareas_idResponsable').html(ejercicio);
                     //$('#focal_appbundle_aduser_submit').prop('disabled', true);
                }
            }
        });
    }); 
    

    
        });
  

  filterSelection("all")
function filterSelection(c) {
  var x, i;
  x = document.getElementsByClassName("filterDiv");
  if (c == "all") c = "";
  for (i = 0; i < x.length; i++) {
    w3RemoveClass(x[i], "show");
    if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
  }
}

function w3AddClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    if (arr1.indexOf(arr2[i]) == -1) {element.className += " " + arr2[i];}
  }
}

function w3RemoveClass(element, name) {
  var i, arr1, arr2;
  arr1 = element.className.split(" ");
  arr2 = name.split(" ");
  for (i = 0; i < arr2.length; i++) {
    while (arr1.indexOf(arr2[i]) > -1) {
      arr1.splice(arr1.indexOf(arr2[i]), 1);     
    }
  }
  element.className = arr1.join(" ");
}

    </script>    
    
    
    
    
    
    
    
    
    
    
{% endblock %}  
