{% extends '::basemenu.html.twig' %}
{% form_theme edit_form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block menu %}
    {{ menu|raw }}
{% endblock %}
{% block header %}
<!-- Content Header (Page header) -->
    <section style="padding-bottom: 20px;"class="content-header">
      <h1>
        Editar campaña política
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-flag"></i> Campañas</a></li>
        <li class="active">Editar campaña política</li>
      </ol>
    </section>
{% endblock %}
{% block content -%}
    
 {{ form_start(edit_form) }}
 {{ form_row(edit_form.idPublicidad) }}
        {{ form_row(edit_form.idCampana) }}
        {{ form_row(edit_form.nombreMedioPublicitario) }}
        {{ form_row(edit_form.tipoAnuncio) }}
        {{ form_row(edit_form.target) }}
        {{ form_row(edit_form.compartidos) }}
        {{ form_row(edit_form.pautaPublicitaria) }}
        {{ form_row(edit_form.comprobantePago) }}
        {{ form_row(edit_form.personasAlcanzadas) }}
        {{ form_row(edit_form.meGusta) }}
        {{ form_row(edit_form.meEncanta) }}
        {{ form_row(edit_form.meDivierte) }}
        {{ form_row(edit_form.meEnoja) }}
        {{ form_row(edit_form.meEntristece) }}
        {{ form_row(edit_form.comentariosPositivos) }}
        {{ form_row(edit_form.comentariosNegativos) }}
        {{ form_row(edit_form.resumenInteraccion) }}
        {{ form_row(edit_form.submit) }}
        {{ form_widget(edit_form._token) }}
            {{ form_end(edit_form, {'render_rest': false})}}

    <ul style="list-style: none; margin-left: 0; text-align: right ">
    <li>
        <a class="btn btn-md btn-success" href="{{ path('datospublicidadredes') }}">
            <i class="ace-icon fa fa-arrow-left align-top bigger-120"></i> Regresar 
        </a>
    </li>
    </ul>
{% endblock %}
