{% extends '::basemenu.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    
    <link rel="stylesheet" href="{{asset('bundles/victoriaapp/css/jquery.dataTables_themeroller.css')}}" />
    <link rel="stylesheet" href="{{asset('bundles/victoriaapp/css/focal.css')}}" />
    
{% endblock %}

{% block menu %}
    {{ menu|raw }}
{% endblock %}
{% block header %}
<!-- Content Header (Page header) -->
    <section style="padding-bottom: 20px;"class="content-header">
      <h1>
        Listados de publicidad redes
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-flag"></i> Publicidad redes</a></li>
        <li class="active">Agregar, modificar y eliminar información</li>
      </ol>
    </section>
{% endblock %}
{% block content -%}
    <ul style="list-style: none; margin-left: 0; text-align: right ">
    <li>
        <a class="btn btn-md btn-success" href="{{ path('datospublicidadredes_new') }}">
            <i class="ace-icon fa fa-plus-square align-top bigger-120"></i> Nuevo 
        </a>
    </li>
    </ul>
    < <table id="dynamic-table" class="display compact">
        <thead>
            <tr style="background-color: #E8BF6A">
                <th>Id</th>
                <th>Target</th>
                <th>Pauta publicitaria</th>
                <th>Personas alcanzadas</th>
                <th>Resumen</th>
                <th>Medio publicitario</th>
                <th>Tipo anuncio</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('datospublicidadredes_show', { 'id': entity.idPublicidadRedes }) }}">{{ entity.idPublicidadRedes }}</a></td>
                <td>{{ entity.target }}</td>
                <td>{{ entity.pautaPublicitaria }}</td>
                <td>{{ entity.personasAlcanzadas }}</td>                
                <td>{{ entity.resumenInteraccion }}</td>
                <td>{{ entity.nombreMedioPublicitario }}</td>
                <td>{{ entity.tipoAnuncio }}</td>

                <td>
                    <div class="action-buttons">
                        <a class="blue"href="{{ path('datospublicidadredes_show', { 'id': entity.idPublicidadRedes }) }}" title="Ver">
                                <i class="oz-icon-v fa fa-search-plus bigger-130"></i>
                        </a>

                        <a class="green"href="{{ path('datospublicidadredes_edit', { 'id': entity.idPublicidadRedes }) }}" title="Editar">
                                <i class="oz-icon-e fa fa-pencil bigger-130"></i>
                        </a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
 

    {% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/victoriaapp/js/jquery.dataTables.min.js')}}"></script>
    <script src="{{ asset('bundles/victoriaapp/js/jquery.dataTables.bootstrap.min.js')}}"></script> 
    
    <script type="text/javascript">
        $(function () {
        
        $('#dynamic-table').DataTable({
          'paging'      : true,
          'lengthChange': true,
          'searching'   : true,
          'ordering'    : true,
          'info'        : true,
          'autoWidth'   : true,
          language:{
                    search: "Buscar",
                    lengthMenu: "Mostrar _MENU_ registros",
                    emptyTable: "No hay datos...",
                    info: "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    infoEmpty: "Mostrando registros del 0 al 0 de un total de 0 registros",
                    infoFiltered: "(Filtrando de un total de _MAX_ registros)",
                    paginate: {
                        first: "Primero",
                        previous: "Anterior",
                        next: "Siguiente",
                        last: "Ultimo"
                    }
                }
        });
  });
    </script>     
{% endblock %}     