{% extends '::basemenu.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    
    <link rel="stylesheet" href="{{asset('bundles/victoriaapp/css/jquery.dataTables_themeroller.css')}}" />
    <link rel="stylesheet" href="{{asset('bundles/victoriaapp/css/focal.css')}}" />

    <!-- bootstrap datepicker -->
  <link rel="stylesheet" href="{{ asset('bundles/victoriaapp/calendario/datetimepicker/datetimepicker.min.css') }}">

  
{% endblock %}
{% block notificaciones %} 
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-bell-o"></i>
        <span class="label label-warning">{{ datosnoti|length }}</span>
    </a>
    <ul class="dropdown-menu">
        <li class="header">Tiene {{ datosnoti|length }} notificaciones </li>
        <li>
          <!-- inner menu: contains the actual data -->
          <ul class="menu">
            {% for noti in datosnoti if noti.orden < 7 %}  
            <li>
              <a href="{{ path('datosnotificaciones') }}">
                <i class="fa fa-users text-aqua"></i> {{ noti.mensaje }}
              </a>
            </li>
            {% endfor %}
          </ul>
        </li>
        <li class="footer"><a href="{{ path('datosnotificaciones')}}">Ver todos</a></li>
    </ul>
{% endblock %}


{% block tareas %}
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-flag-o"></i>
        <span class="label label-danger">0</span>
    </a>
    <ul class="dropdown-menu">
        <li class="header">Tienes 0 tareas</li>
        <li>
        <!-- inner menu: contains the actual data -->
            <ul class="menu">
            <li><!-- Task item -->
              <a href="#">
                <h3>
                  Avance del proyecto
                  <small class="pull-right">70%</small>
                </h3>
                <div class="progress xs">
                  <div class="progress-bar progress-bar-aqua" style="width: 70%" role="progressbar"
                       aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                    <span class="sr-only">70% Complete</span>
                  </div>
                </div>
              </a>
            </li>
          <!-- end task item -->
        </ul>
      </li>
      <li class="footer">
        <a href="#">Ver todas las tares</a>
      </li>
    </ul>
{% endblock %} 
{% block menu %}
    {{ menu|raw }}
{% endblock %}

{% block header %}
<!-- Content Header (Page header) -->
    <section style="padding-bottom: 20px;"class="content-header">
      <h1>
        Agenda
      </h1>
    <ul style="list-style: none; margin-left: 0; text-align: right ">
        <li>
            <a id="btnnuevo" data-toggle="modal" data-target="#modal-default" class="btn btn-md btn-success" href="#">
                <i class="ace-icon fa fa-plus-square align-top bigger-120"></i> Nuevo 
            </a>
        </li>
    </ul>
            
    </section>


{% endblock %}

{% block content -%}

  <div id='calendar' class='calendarbg'></div>

  <!-- Modal de ingreso de datos -->    
    <div class="modal fade" id="modal-default">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Agregar nuevo evento</h4>
              </div>
              
              <div class="modal-body">
                {{ form_start(form) }}
                    {{ form_row(form.titulo) }}
                    {{ form_row(form.descripcion) }}
                    <div class="form-group">
                        <label class="col-sm-2 control-label required" for="victoria_appbundle_datoseventos_fechaInicio">Fecha inicio</label>
                        <div class="col-sm-10">
                        <div class='input-group date' id='datetimepicker1'>
                            <input type='text' class="form-control" id="victoria_appbundle_datoseventos_fechaInicio" name="victoria_appbundle_datoseventos[fechaInicio]" required="required"/>
                             <span class="input-group-addon">
                             <span class="glyphicon glyphicon-calendar"></span>
                             </span>
                        </div>                            
                        </div>
                    </div>
                    

                    <div class="form-group">
                        <label class="col-sm-2 control-label required" for="victoria_appbundle_datoseventos_fechaFinal">Fecha final</label>
                        <div class="col-sm-10">
                            <div class='input-group date' id='datetimepicker2'>
                                <input type='text' class="form-control" id="victoria_appbundle_datoseventos_fechaFinal" name="victoria_appbundle_datoseventos[fechaFinal]" required="required" />
                                 <span class="input-group-addon">
                                 <span class="glyphicon glyphicon-calendar"></span>
                                 </span>
                            </div>    
                        </div>
                    </div>

                    
                    {{ form_row(form.idCampana) }}
                    {{ form_row(form.idDistrito) }} 
                    {{ form_row(form.submit) }}
                    {{ form_widget(form._token) }}
                {{ form_end(form, {'render_rest': false})}}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cerrar</button>
                <!--button type="button" class="btn btn-primary">Save changes</button -->
              </div>
               
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
    </div>
    <!-- /.modal --> 
    {% endblock %}
{% block javascripts %}
    {{ parent() }}

  
  <script src="{{asset('bundles/bower_components/moment/min/moment.min.js')}}"></script>
  <script src="{{asset('bundles/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js')}}"></script>

  <script type="text/javascript">

  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
      plugins: [ 'interaction', 'dayGrid' ],
      header: {
        left: 'prev ,today, next', //prevYear, nextYear
        center: 'title',
        right: 'dayGridMonth,dayGridWeek,dayGridDay'
      },
     // defaultDate: '2019-08-12',
      navLinks: true, // can click day/week names to navigate views
      editable: true,
      eventLimit: true, // allow "more" link when too many events
      locale: 'es',
      buttonText:
        {
          today:    'Hoy',
          month:    'Mes',
          week:     'Semana',
          day:      'Dia',
          list:     'Lista'
        },
      events: [
        {% for entity in entities %}
        {

          id: {{ entity.idEventos }},
          title: '{{ entity.titulo }}',
          start: '{% if entity.fechaInicio %}{{ entity.fechaInicio|date('Y-m-d') }}{% endif%}T{% if entity.fechaInicio %}{{ entity.fechaInicio|date('H:i:s') }}{% endif%}',
          end: '{% if entity.fechaFinal %}{{ entity.fechaFinal|date('Y-m-d') }}{% endif %}T{% if entity.fechaFinal %}{{ entity.fechaFinal|date('H:i:s') }}{% endif %}',
          url: '{{ path('datoseventos_show', { 'id': entity.idEventos }) }}'

        },
        {% endfor %}  
      ]
    });
    calendar.render();
  });
$(function () {
            //Date picker
    $('#victoria_appbundle_datoseventos_fechaInicio').datepicker({
        language: "es",
        todayHighlight: true,
        autoclose: true
    });
    $('#victoria_appbundle_datoseventos_fechaFinal').datepicker({
        language: "es",
        todayHighlight: true,
        autoclose: true
    });

        });
</script>

    
  <script src="{{ asset('bundles/victoriaapp/calendario/datetimepicker/datetimepicker.min.js') }}"></script>

	<script type='text/javascript'>
		$( document ).ready(function() {
			$('#datetimepicker1').datetimepicker();
		});
                		$( document ).ready(function() {
			$('#datetimepicker2').datetimepicker();
		});
	</script>

{% endblock %}  