{% extends '::basemenu.html.twig' %}

{% block menu %}
    {{ menu|raw }}
{% endblock %}
{% block header %}
<!-- Content Header (Page header) -->
    <section style="padding-bottom: 20px;"class="content-header">
      <h1>
        Información agenda
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-flag"></i> Agenda</a></li>
        <li class="active">Ver información de agenda</li>
      </ol>
    </section>
{% endblock %}
{% block content -%}
    <table class="table table-striped table-bordered table-responsive">
        <tbody>
            <tr>
                <th>Ideventos</th>
                <td>{{ entity.idEventos }}</td>
            </tr>
            <tr>
                <th>Titulo</th>
                <td>{{ entity.titulo }}</td>
            </tr>

            <tr>
                <th>Descripcion</th>
                <td>{{ entity.descripcion }}</td>
            </tr>
            <tr>
                <th>Campaña</th>
                <td>{{ entity.idCampana }}</td>
            </tr>
            <tr>
                <th>Distrito</th>
                <td>{{ entity.idDistrito }}</td>
            </tr>
            <tr>
                <th>Fecha final</th>
                <td>{{ entity.fechaInicio|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Fecha inicio</th>
                <td>{{ entity.fechaFinal|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Usuariocreacion</th>
                <td>{{ entity.usuarioCreacion }}</td>
            </tr>
            <tr>
                <th>Fechacreacion</th>
                <td>{{ entity.fechaCreacion|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Usuarioultimamodificacion</th>
                <td>{{ entity.usuarioUltimaModificacion }}</td>
            </tr>
            <tr>
                <th>Fechaultimamodificacion</th>
                <td>{{ entity.fechaUltimaModificacion|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>
    <ul style="list-style: none; margin-left: 0; text-align: right ">
    <li style="float: left; padding: 5px;">
        <a style="display: block; " class="btn btn-md btn-success" href="{{ path('datoseventos_edit', { 'id': entity.idEventos }) }}">
            <i class="ace-icon fa fa-edit align-top bigger-120"></i> Editar 
        </a>
    </li>   
    <li style="float: left; padding: 5px;">
        <a style="display: block;" class="btn btn-md btn-success"  href="{{ path('datoseventos') }}">
            <i class="ace-icon fa fa-fa-arrow-left align-top bigger-120"></i> Regresar 
        </a>
    </li>


    </ul>
        
{% endblock %}
