{% extends '::basemenu.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    
    <link rel="stylesheet" href="{{asset('bundles/victoriaapp/css/jquery.dataTables_themeroller.css')}}" />
    <link rel="stylesheet" href="{{asset('bundles/victoriaapp/css/focal.css')}}" />


{% endblock %}

{% block menu %}
    {{ menu|raw }}
{% endblock %}
{% block header %}
<!-- Content Header (Page header) -->
    <section style="padding-bottom: 20px;"class="content-header">
      <h1>
        Listados de personas
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-user"></i> Personas</a></li>
        <li class="active">Agregar, modificar y eliminar información</li>
      </ol>
    </section>
{% endblock %}

{% block content -%}
    <ul style="list-style: none; margin-left: 0; text-align: right ">
    {% if is_granted('ROLE_ADMIN') %} 
    <li>
        <a class="btn btn-md btn-success" href="{{ path('datospersonas_new') }}">
            <i class="ace-icon fa fa-plus-square align-top bigger-120"></i> Nuevo 
        </a>
    </li>
    {% endif %}
    </ul>
    
    <table id="dynamic-table" class="display compact" style="width:100%">
        <thead>
            <tr style="background-color: #E8BF6A"> 
                <th>Nombres</th>
                <th>Apellidos</th>
                <th>Estructura</th>
                <th>Campaña</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.nombres }}</td>
                <td>{{ entity.apellidos }}</td>
                <td>{% if(entity.idEstructura == 1 ) %}A{% elseif (entity.idEstructura == 2) %}B{%else%}C{% endif %}</td>
                <td>{{ entity.idCampana }}</td>
                <td>
              
                       <div class="action-buttons">
                        <a class="blue" href="{{ path('datospersonas_show', { 'id': entity.idPersona }) }}"title="Ver">
                                <i class="oz-icon-v fa fa-search-plus bigger-130"></i> 
                        </a>
                        {% if is_granted('ROLE_ADMIN') %} 
                        <a class="green" href="{{ path('datospersonas_edit', { 'id': entity.idPersona }) }}" title="Editar">
                                <i class="oz-icon-e fa fa-pencil bigger-130"></i>  
                        </a>
                        {% endif %}        
                        </div>
               
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function () {
        
        $('#dynamic-table').DataTable({
          'paging'      : true,
          'lengthChange': true,
          'searching'   : true,
          'ordering'    : true,
          'info'        : true,
          'autoWidth'   : true,
          'scrollX'     : true,
          language:{
                    search: "Buscar",
                    lengthMenu: "Mostrar _MENU_ registros",
                    emptyTable: "No hay datos...",
                    info: "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    infoEmpty: "Mostrando registros del 0 al 0 de un total de 0 registros",
                    infoFiltered: "(Filtrando de un total de _MAX_ registros)",
                    paginate: {
                        first: "Primero",
                        previous: "Anterior",
                        next: "Siguiente",
                        last: "Ultimo"
                    }
                }
        });
  });
    </script>     
{% endblock %}    
