{% extends '::basemenu.html.twig' %}

{% block menu %}
    {{ menu|raw }}
{% endblock %}
{% block header %}
<!-- Content Header (Page header) -->
    <section style="padding-bottom: 20px;"class="content-header">
      <h1>
        Información persona
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-user"></i> Personas</a></li>
        <li class="active">Ver información de persona</li>
      </ol>
    </section>
{% endblock %}
{% block content -%}
    <table class="table table-striped table-bordered table-responsive">
        <tbody>
            <tr>
                <th>Idpersona</th>
                <td>{{ entity.idPersona }}</td>
            </tr>
            <tr>
                <th>Nombres</th>
                <td>{{ entity.nombres }}</td>
            </tr>
            <tr>
                <th>Apellidos</th>
                <td>{{ entity.apellidos }}</td>
            </tr>
            <tr>
                <th>Numeroidentidad</th>
                <td>{{ entity.numeroIdentidad }}</td>
            </tr>
            <tr>
                <th>Telefono1</th>
                <td>{{ entity.telefono1 }}</td>
            </tr>
            <tr>
                <th>Telefono2</th>
                <td>{{ entity.telefono2 }}</td>
            </tr>
            <tr>
                <th>Telefono3</th>
                <td>{{ entity.telefono3 }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>Idestructura</th>
                <td>{{ entity.idEstructura }}</td>
            </tr>
            <tr>
                <th>Idcampana</th>
                <td>{{ entity.idCampana }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ entity.estado }}</td>
            </tr>
        </tbody>
    </table>
    <ul style="list-style: none; margin-left: 0; text-align: right ">
    <li style="float: left; padding: 5px;">
        <a style="display: block; " class="btn btn-md btn-success" href="{{ path('datospersonas_edit', { 'id': entity.idPersona }) }}">
            <i class="ace-icon fa fa-edit align-top bigger-120"></i> Editar 
        </a>
    </li>    
    <li style="float: left; padding: 5px;">
        <a style="display: block;" class="btn btn-md btn-success" href="{{ path('datospersonas') }}">
            <i class="ace-icon fa fa-fa-arrow-left align-top bigger-120"></i> Regresar 
        </a>
    </li>
    </ul>
        
{% endblock %}
