{% extends '::basemenu.html.twig' %}

{% block menu %}
    {{ menu|raw }}
{% endblock %}
{% block header %}
<!-- Content Header (Page header) -->
    <section style="padding-bottom: 20px;"class="content-header">
      <h1>
        Información de la activdidad
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-money"></i> Actividad</a></li>
        <li class="active">Ver información de la actividad</li>
      </ol>
    </section>
{% endblock %}
{% block content -%}
    <table class="table table-striped table-bordered table-responsive">
        <tbody>
            <tr>
                <th>Id Actividad</th>
                <td>{{ entity.idpresupuesto }}</td>
            </tr>
            <tr>
                <th>Tipo Egreso</th>
                <td>{{ entity.tipoegreso }}</td>
            </tr>
            <tr>
                <th>Actividad Egreso</th>
                <td>{{ entity.idactividadegreso }}</td>
            </tr>
            <tr>
                <th>Fuente Egreso</th>
                <td>{{ entity.fuenteegreso }}</td>
            </tr>
            <tr>
                <th>Descripción</th>
                <td>{{ entity.descripcion }}</td>
            </tr>
            <tr>
                <th>Preparado Por</th>
                <td>{{ entity.preparadopor }}</td>
            </tr>
            <tr>
                <th>Aprobado Por</th>
                <td>{{ entity.aprobadopor }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ entity.estado }}</td>
            </tr>
            <tr>
                <th>Total</th>
                <td>{{ entity.total }}</td>
            </tr>
            <tr>
                <td style="text-align: center; background-color: #92D1EF;"colspan="2">
                    <b> ----- DETALLE DE LA ACTIVIDAD -----</b>
                </td>
            </tr>
            <tr>
                <td style="text-align: center"><b>Nombre Actividad</b></td>
                <td style="text-align: center"><b>Costos</b></td>
            </tr>
            {% set gtotal = 0 %}
            {% for det in detalle %}
            <tr>
                <td style="text-align: center"> {{ det.descripcion }}</td>
                <td style="text-align: center"> {{ det.total|number_format(2,'.',',') }}</td>
                {% set gtotal = gtotal + det.total %}
            </tr>
            {% endfor %}
            <tr>
                <td style="text-align: center"><b>Total</b></td>
                <td style="text-align: center"><b>{{ gtotal|number_format(2,'.',',')  }}</b></td>
            </tr>
        </tbody>
    </table>
    <div class='box-footer'>     
    <ul style="list-style: none; margin-left: 0; text-align: right ">
    {% if is_granted('ROLE_ADMIN') %}    
    <li style="float: right; margin: 0px 0px 5px 10px;">
        <a style="display: block; " class="btn btn-md btn-success" href="{{ path('datospresupuestos_edit', { 'id': entity.idpresupuesto }) }}">
            <i class="ace-icon fa fa-edit align-top bigger-120"></i> Editar 
        </a>
    </li>
    {% endif %}
    <li style="float: right;">
        <a style="display: block;" class="btn btn-md btn-success" href="{{ path('datospresupuestos') }}">
            <i class="ace-icon fa fa-fa-arrow-left align-top bigger-120"></i> Regresar 
        </a>
    </li>
    </ul>
    </div>    
{% endblock %}
