{% extends '::basemenu.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{asset('bundles/victoriaapp/css/jquery.dataTables_themeroller.css')}}" />
    <link rel="stylesheet" href="{{asset('bundles/victoriaapp/css/focal.css')}}" />
{% endblock %}      
{% block header -%}
    Acceso de usuario
    <small>
        <i class="ace-icon fa fa-angle-double-right"></i>
        Agregar nuevos accesos de usuario
    </small>
{% endblock %}
{% block menu %}
    {{ menu|raw }}
{% endblock %} 
{% block content -%}
    <ul style="list-style: none; margin-left: 0">
        <li style="display: inline">
            <a id="btnnew" class="btn btn-md btn-success" href="{{ path('adroles_new') }}">
                <i class="ace-icon fa fa-plus-square align-top bigger-120"></i> Nuevo
            </a> 
        </li>
        <li style="display: inline">
            <a id="btnpermisos" class="btn btn-md btn-success" href="#">
                <i class="ace-icon fa fa-key align-top bigger-120"></i> Permisos
            </a> 
        </li>
    </ul>    
    <div class="table-header">
        Listado de accesos de usuarios
    </div>              
    <table id="dynamic-table" class="table table-striped table-bordered table-responsive">
        <thead>
            <tr style="background-color: #E8BF6A">
                <th class="center"></th> 
                <th>Descripción</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td class="center">
                    <label class="pos-rel">
                        <input type="radio" value="{{ entity.idRol }}" name="sel-enc" class="ace" />
                        <span class="lbl"></span>
                    </label>
                </td>
                <td>{{ entity.rol }}</td>
                <td>{%  if entity.idEstado == 1 %} Activo {% else %} Inactivo {% endif %}</td>
                <td>
                <ul>
                    <li class="lista-horizontal-action">
                        <a href="{{ path('adroles_edit', { 'id': entity.idRol }) }}" title="Editar registro">
                        <i class="ace-icon fa fa-pencil align-top bigger-120"></i>
                        </a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/victoriaapp/js/jquery.dataTables.min.js')}}"></script>
    <script src="{{ asset('bundles/victoriaapp/js/jquery.dataTables.bootstrap.min.js')}}"></script> 
    
    <script type="text/javascript">
        var table;
        $(document).ready(function() {
            table = $('#dynamic-table').DataTable({
                language:{
                    search: "Buscar",
                    lengthMenu: "Mostrar _MENU_ registros",
                    emptyTable: "No hay datos...",
                    info: "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    infoEmpty: "Mostrando registros del 0 al 0 de un total de 0 registros",
                    infoFiltered: "(Filtrando de un total de _MAX_ registros)",
                    paginate: {
                        first: "Primero",
                        previous: "Anterior",
                        next: "Siguiente",
                        last: "Ultimo"
                    }
                }
            });
            
            $(document).on("click","#dynamic-table tr td",function(){
                if($(this).parent().find("input:radio").is(':checked')){
                    $(this).parent().css("background-color","");
                    $(this).parent().find("input:radio").prop("checked", false);  
                } else {
                    $(".ace").each(function(){
                        if($(this).is(':checked')) {
                            $(this).parent().parent().parent().css("background-color","");
                        }
                    });
                    $(this).parent().css("background-color","#CFE7F9");
                    $(this).parent().find("input:radio").prop("checked", true);         
                }
            });
            
            $('#btnpermisos').click(function(e){
                e.preventDefault();

                fila = $("#dynamic-table input[name='sel-enc']:radio");
                
                if(fila.is(':checked')) {
                valor = $("#dynamic-table input:radio[name='sel-enc']:checked").val();            
                
                url = '{{ path('adaccesogrant_asociar', { 'idacceso': 'valor' }) }}';            
                url = url.replace("valor", valor); 
                              
                window.location.href=url;               
            } else {
                e.preventDefault();
                alert("Seleccione un rol de usuario");
            }
            });
        });
    </script>    
{% endblock %} 
