{% extends '::base.html.twig' %}

{% block body -%}
    <h1>AdRoles</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Rol</th>
                <td>{{ entity.rol }}</td>
            </tr>
            <tr>
                <th>Idestado</th>
                <td>{{ entity.idEstado }}</td>
            </tr>
            <tr>
                <th>Fechacreacion</th>
                <td>{{ entity.fechaCreacion|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Usuariocreacion</th>
                <td>{{ entity.usuarioCreacion }}</td>
            </tr>
            <tr>
                <th>Usuarioultimamodificacion</th>
                <td>{{ entity.usuarioUltimaModificacion }}</td>
            </tr>
            <tr>
                <th>Fechaultimamodificacion</th>
                <td>{{ entity.fechaUltimaModificacion|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Idrol</th>
                <td>{{ entity.idRol }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('adroles') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('adroles_edit', { 'id': entity.idRol }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
