{% extends '::basemenu.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    
    <link rel="stylesheet" href="{{asset('bundles/victoriaapp/css/jquery.dataTables_themeroller.css')}}" />
    <link rel="stylesheet" href="{{asset('bundles/victoriaapp/css/focal.css')}}" />
    
{% endblock %}

{% block menu %}
    {{ menu|raw }}
{% endblock %}
{% block header %}
<!-- Content Header (Page header) -->
    <section style="padding-bottom: 20px;"class="content-header">
      <h1>
        Listados de centros de votaciones
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-map-marker"></i> Centros de votaciones</a></li>
        <li class="active">Agregar, modificar y eliminar información</li>
      </ol>
    </section>
{% endblock %}
{% block content -%}
    <ul style="list-style: none; margin-left: 0; text-align: right ">
    {% if is_granted('ROLE_ADMIN') %}    
    <li>
        <a class="btn btn-md btn-success" href="{{ path('datoscentrosvotacion_new') }}">
            <i class="ace-icon fa fa-plus-square align-top bigger-120"></i> Nuevo 
        </a>
    </li>
    </ul>
    {% endif %}        
    <table id="dynamic-table" class="display compact" style="width:100%">
        <thead>
            <tr style="background-color: #E8BF6A">
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Nombre</th>
                <th>Cargar electoral</th>
                <th>% Votantes</th>
                <th>% Comisiones</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.nombre }}</td>
                <td>{% if (entity.tipo_cv == 1) %}A{% elseif(entity.tipoCv == 2)%}B{%else%}C{%endif%}</td>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.cargar_electoral }}</td>
                <td>{% if (entity.cargar_electoral > 0)%}{{((entity.votantes/entity.cargar_electoral)*100)|round(2)}}%{%else%}0%{% endif %}</td>
                <td>{% if (entity.total_cv > 0)%}{{((entity.total_asignadas/entity.total_cv)*100)|round(2)}}%{%else%}0%{% endif %}</td>
                <td>
                <ul>
                     <div class="action-buttons">
                        <a class="blue" href="{{ path('datoscentrosvotacion_show', { 'id': entity.id_cv }) }}" title="Ver">
                                <i class="oz-icon-v fa fa-search-plus bigger-130"></i>
                        </a>
                        {% if is_granted('ROLE_ADMIN') %}
                        <a class="green"  href="{{ path('datoscentrosvotacion_edit', { 'id': entity.id_cv }) }}"title="Editar">
                                <i class="oz-icon-e fa fa-pencil bigger-130"></i>
                        </a>
                        <a class="green" href="{{ path('datoscentrosvotacion_cantidad', { 'id': entity.id_cv }) }}"title="Asignar cantidades">
                                <i class="oz-icon-b fa fa-plus-square bigger-130"></i>
                        </a>
                        <a class="green"  href="{{ path('datoscentrosvotacion_verasignaciones', { 'id': entity.id_cv, 'porcv' : 1 }) }}"title="Ver asignaciones">
                                <i class="oz-icon-v fa fa-group bigger-130"></i>
                        </a>        
                        {% endif %}        
                     </div>
                </ul>                
                </td>
            </tr>
        {% endfor %}
        </tbody>
   </table>
 

    {% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/victoriaapp/js/jquery.dataTables.min.js')}}"></script>
    <script src="{{ asset('bundles/victoriaapp/js/jquery.dataTables.bootstrap.min.js')}}"></script> 
    
    <script type="text/javascript">
        $(function () {
        
        $('#dynamic-table').DataTable({
          'paging'      : true,
          'lengthChange': true,
          'searching'   : true,
          'ordering'    : true,
          'info'        : true,
          'autoWidth'   : true,
          'scrollX'     : true,
          language:{
                    search: "Buscar",
                    lengthMenu: "Mostrar _MENU_ registros",
                    emptyTable: "No hay datos...",
                    info: "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    infoEmpty: "Mostrando registros del 0 al 0 de un total de 0 registros",
                    infoFiltered: "(Filtrando de un total de _MAX_ registros)",
                    paginate: {
                        first: "Primero",
                        previous: "Anterior",
                        next: "Siguiente",
                        last: "Ultimo"
                    }
                }
        });
  });
  
    </script>     
{% endblock %}    