{% extends '::basemenu.html.twig' %}

{% block menu %}
    {{ menu|raw }}
{% endblock %}
{% block header %}
<!-- Content Header (Page header) -->
    <section style="padding-bottom: 20px;"class="content-header">
      <h1>
        Información centro de votacion
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-map-marker"></i> Centros de votaciones</a></li>
        <li class="active">Ver información de centro de votacion</li>
      </ol>
    </section>
{% endblock %}
{% block content -%}
    <table class="table table-striped table-bordered table-responsive">
        <tbody>
            <tr>
                <th>Idcv</th>
                <td>{{ entity.idCv }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Tipocv</th>
                <td>{{ entity.tipoCv }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ entity.direccion }}</td>
            </tr>
            <tr>
                <th>Nombreedificio</th>
                <td>{{ entity.nombreEdificio }}</td>
            </tr>
            <tr>
                <th>Cargarelectoral</th>
                <td>{{ entity.cargarElectoral }}</td>
            </tr>
            <tr>
                <th>Numeromesas</th>
                <td>{{ entity.numeroMesas }}</td>
            </tr>
        </tbody>
    </table>
    <ul style="list-style: none; margin-left: 0; text-align: right ">
    <li style="float: left; padding: 5px;">
        <a style="display: block; " class="btn btn-md btn-success" href="{{ path('datoscentrosvotacion_edit', { 'id': entity.idCampana }) }}">
            <i class="ace-icon fa fa-edit align-top bigger-120"></i> Editar 
        </a>
    </li>    
    <li style="float: left; padding: 5px;">
        <a style="display: block;" class="btn btn-md btn-success" href="{{ path('datoscentrosvotacion') }}">
            <i class="ace-icon fa fa-fa-arrow-left align-top bigger-120"></i> Regresar 
        </a>
    </li>
    </ul>
        
{% endblock %}
