{% extends '::basemenu.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    
    <link rel="stylesheet" href="{{asset('bundles/victoriaapp/css/jquery.dataTables_themeroller.css')}}" />
    <link rel="stylesheet" href="{{asset('bundles/victoriaapp/css/focal.css')}}" />
    
{% endblock %}

{% block menu %}
    {{ menu|raw }}
{% endblock %}
{% block notificaciones %} 
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-bell-o"></i>
        <span class="label label-warning">{{ datosnoti|length }}</span>
    </a>
    <ul class="dropdown-menu">
        <li class="header">Tiene {{ datosnoti|length }} notificaciones </li>
        <li>
          <!-- inner menu: contains the actual data -->
          <ul class="menu">
            {% for noti in datosnoti if noti.orden < 7 %}  
            <li>
              <a href="{{ path('datosnotificaciones') }}">
                <i class="fa fa-users text-aqua"></i> {{ noti.mensaje }}
              </a>
            </li>
            {% endfor %}
          </ul>
        </li>
        <li class="footer"><a href="{{ path('datosnotificaciones')}}">Ver todos</a></li>
    </ul>
{% endblock %}
{% block tareas %}
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-flag-o"></i>
              <span class="label label-danger">0</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">Tienes 0 tareas</li>
              <li>
                <!-- inner menu: contains the actual data -->
                <ul class="menu">
                  <li><!-- Task item -->
                    <a href="#">
                      <h3>
                        Avance del proyecto
                        <small class="pull-right">70%</small>
                      </h3>
                      <div class="progress xs">
                        <div class="progress-bar progress-bar-aqua" style="width: 70%" role="progressbar"
                             aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                          <span class="sr-only">70% Complete</span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <!-- end task item -->
                </ul>
              </li>
              <li class="footer">
                <a href="#">Ver todas las tares</a>
              </li>
            </ul>
{% endblock %}  
{% block header %}
<!-- Content Header (Page header) -->
    <section style="padding-bottom: 20px;"class="content-header">
      <h1>
        Listados de tipos de comisiones
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-group"></i> Comisiones</a></li>
        <li class="active">Agregar, modificar y eliminar información</li>
      </ol>
    </section>
{% endblock %}
{% block content -%}
    <ul style="list-style: none; margin-left: 0; text-align: right ">
    {% if is_granted('ROLE_ADMIN') %}     
    <li>
        <a class="btn btn-md btn-success" href="{{ path('adtiposcomision_new') }}">
            <i class="ace-icon fa fa-plus-square align-top bigger-120"></i> Nuevo 
        </a>
    </li>
    {% endif %}
    </ul>
    <table id="dynamic-table" class="display compact">
        <thead>
            <tr style="background-color: #E8BF6A"> 
                <th>Estructura</th>
                <th>Descripción</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{% if (entity.idEstructura == 1) %}<b>A</b>{% elseif(entity.idEstructura == 2)  %}<b>B</b>{% else %}<b>C</b>{%endif%}</td>
                <td>{{ entity.descripcion }}</td>
               <td>
                    <div class="action-buttons">

                        <a class="blue"  href="{{ path('adtiposcomision_show', { 'id': entity.idTipoComision }) }}"title="Ver">
                                <i class="oz-icon-v fa fa-search-plus bigger-130"></i>
                        {% if is_granted('ROLE_ADMIN') %} 
                        <a class="green" href="{{ path('adtiposcomision_edit', { 'id': entity.idTipoComision }) }}" title="Editar">
                                <i class="oz-icon-e fa fa-pencil bigger-130"></i>
                        {% endif %}        
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/victoriaapp/js/jquery.dataTables.min.js')}}"></script>
    <script src="{{ asset('bundles/victoriaapp/js/jquery.dataTables.bootstrap.min.js')}}"></script> 
    
    <script type="text/javascript">
        $(function () {
        
        $('#dynamic-table').DataTable({
          'paging'      : true,
          'lengthChange': true,
          'searching'   : true,
          'ordering'    : true,
          'info'        : true,
          'autoWidth'   : true,
          language:{
                    search: "Buscar",
                    lengthMenu: "Mostrar _MENU_ registros",
                    emptyTable: "No hay datos...",
                    info: "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    infoEmpty: "Mostrando registros del 0 al 0 de un total de 0 registros",
                    infoFiltered: "(Filtrando de un total de _MAX_ registros)",
                    paginate: {
                        first: "Primero",
                        previous: "Anterior",
                        next: "Siguiente",
                        last: "Ultimo"
                    }
                }
        });
  });
    </script>     
{% endblock %}    
